<div class="row">
    <h1 id="titulo">Hard & Soft Skills</h1>
    <div class="text-center col-sm-6 col-md-4 col-lg-4 ">
    <circle-progress
        [percent]="70"
        [radius]="100"
        [imageWidth]="50"
        [imageHeight]="50"
        [showImage]="true"
        [imageSrc]="'../assets/html.png'"
        [titleFontSize]="'2.5em'"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
></circle-progress>
    </div>
    <div class="text-center col-sm-6 col-md-4 col-lg-4 ">
        <circle-progress
            [percent]="60"
            [radius]="100"
            [imageWidth]="50"
            [imageHeight]="50"
            [showImage]="true"
            [imageSrc]="'../assets/CSS.png'"
            [titleFontSize]="'2.5em'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
    ></circle-progress>
        </div>
        <div class="text-center col-sm-6 col-md-4 col-lg-4 ">
            <circle-progress
                [percent]="40"
                [radius]="100"
                [imageWidth]="50"
                [imageHeight]="50"
                [showImage]="true"
                [imageSrc]="'../assets/js.png'"
                [titleFontSize]="'2.5em'"
                [showSubtitle]="false"
                [showUnits]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"
        ></circle-progress>
            </div>
            <div class="text-center col-sm-6 col-md-4 col-lg-4 ">
                <circle-progress
                    [percent]="70"
                    [radius]="100"
                    [imageWidth]="50"
                    [imageHeight]="50"
                    [showImage]="true"
                    [imageSrc]="'../assets/eng.png'"
                    [titleFontSize]="'2.5em'"
                    [showSubtitle]="false"
                    [showUnits]="false"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#78C000'"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    [animationDuration]="300"
            ></circle-progress>
                </div>
                <div class="text-center col-sm-6 col-md-4 col-lg-4 ">
                    <circle-progress
                        [percent]="80"
                        [radius]="100"
                        [imageWidth]="50"
                        [imageHeight]="50"
                        [showImage]="true"
                        [imageSrc]="'../assets/grupal.png'"
                        [titleFontSize]="'2.5em'"
                        [showSubtitle]="false"
                        [showUnits]="false"
                        [outerStrokeWidth]="16"
                        [innerStrokeWidth]="8"
                        [outerStrokeColor]="'#78C000'"
                        [innerStrokeColor]="'#C7E596'"
                        [animation]="true"
                        [animationDuration]="300"
                ></circle-progress>
                    </div>
                    <div class="text-center col-sm-6 col-md-4 col-lg-4 ">
                        <circle-progress
                            [percent]="100"
                            [radius]="100"
                            [imageWidth]="50"
                            [imageHeight]="50"
                            [showImage]="true"
                            [imageSrc]="'../assets/fmed.gif'"
                            [titleFontSize]="'2.5em'"
                            [showSubtitle]="false"
                            [showUnits]="false"
                            [outerStrokeWidth]="16"
                            [innerStrokeWidth]="8"
                            [outerStrokeColor]="'#78C000'"
                            [innerStrokeColor]="'#C7E596'"
                            [animation]="true"
                            [animationDuration]="300"
                    ></circle-progress>
                        </div>
</div>