<div class="row">
    <h1 id="titulo">Proyectos realizados</h1>
    <div class="container">
        <div class="row">
            <div class="col-xs-12  col-sm-5 col-md-6 col-lg-7 parte1">
                <h3>Proyecto 1</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In ipsum fugiat ab ipsam expedita est impedit, quos tempore et laboriosam, ex magnam dignissimos reprehenderit at eius ipsa vel minima facere?</p>

            </div>
            <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 offset-sm-1 offset-md-1 offset-lg-2 parte2 text-center">
                <img id="foto" class="img-fluid" src="../../../assets/DALL·E 2023-01-11 09.51.36 - pug programando una computadora.png">

            </div>
        </div>
        
        
    </div>
</div>