div{
    background-color: whitesmoke;
    
}
.row{
    padding: 20px;
   
}
#titulo-seccion{
    
    margin-bottom: 30px;
}

h1, h3{
    display: inline;
}
@media(max-width:575px){
    #titulo-seccion{
     text-align: center;   
    }
}
