<div class="row">
    <h1 id="titulo-seccion">Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1>
                <h3> (años)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor veritatis perferendis animi mollitia optio dolore saepe in consequuntur corporis earum, tenetur aspernatur cumque sed, reprehenderit quis! Nisi quasi at illum?</p>
            </li>
            <li>
                
                <h1>Trabajo 2</h1>
                <h3> (años)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor veritatis perferendis animi mollitia optio dolore saepe in consequuntur corporis earum, tenetur aspernatur cumque sed, reprehenderit quis! Nisi quasi at illum?</p>
            </li>
            <li>
                <h1>Trabajo 2</h1>
                <h3> (años)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor veritatis perferendis animi mollitia optio dolore saepe in consequuntur corporis earum, tenetur aspernatur cumque sed, reprehenderit quis! Nisi quasi at illum?</p>
            </li>
        </ul>
    </div>
</div>