<div class="row">
    <div class="container">
        <div class="logo-ap">
            <img src="../../../assets/APLogo.png" id="logo-AP">
        </div>

        <div class="lado-derecho">
            <div class="redes">
                <a href=""><img class="rs" src="../../assets/github.png" alt=""></a>
                <a href=""><img class="rs" src="../../assets/instagram.png" alt=""></a>
                <a href=""><img class="rs" src="../../assets/linkedin.png" alt=""></a>
                <a href=""><img class="rs" src="../../assets/twitter.png" alt=""></a>
            </div> 
            <div class="boton">
                <button type="button" class="btn btn-outline-light">Log In</button> 
            </div> 
        </div>      
    </div>
</div>
