<!-- <div class="container-fluid total"> -->
    
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 perfilTitulos" >
            
                <img  id="fotoDePerfil" src="../../../assets/foto cv.jpeg" >
       

        <div class="titulos">
            <p id="nombre" >Felix Ponieman</p>
            <p id="profesion" >Full stack developer</p>
        </div>
        
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de Mí</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium minus optio nulla placeat deserunt expedita voluptatem commodi repellat quaerat aliquam earum sapiente eligendi, non sit. Tempora architecto officiis voluptatem laboriosam?</p>
            </span>
        </div>
</div>
    
<!-- </div> -->

