
    <div class="row">
        <h1 id="titulo-seccion">Experiencia Laboral</h1>
        <div class="col-sm-3 col-md-2 col-lg-2 text-center">
            <img id="foto" class="img-fluid" src="../../../assets/Logo_de_la_Universidad_de_Buenos_Aires.jpg">
        </div>
        <div class="col-sm-1 col-md-1 col-lg-1"></div>
        <div class="col-sm-8 col-md-9 col-lg-9 ">
            
                
                    <h1>Trabajo 1</h1>
                    <h3> (años)</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor veritatis perferendis animi mollitia optio dolore saepe in consequuntur corporis earum, tenetur aspernatur cumque sed, reprehenderit quis! Nisi quasi at illum?</p>
              
                    
        </div>
    </div>
